<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tuts GitHub Pages</title>
    <link rel='stylesheet' id='theme-css'  href='{{ site.url }}/style.css?ver=1.0.0' type='text/css' media='all' />
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.min.js'></script>
    <script type='text/javascript' src='http://code.jquery.com/jquery-migrate-git.min.js'></script>
    <script type='text/javascript' src='{{ site.url }}/js/theme.min.js?ver=1.0.0'></script>
</head>