
<!DOCTYPE html>
<!--[if IE 8 ]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-US"><!--<![endif]-->

{% include head.html %}

<body class="home page">

{% include header.html %}

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">
            <a href="#" title="Tuts+ GitHub Pages" rel="home">Tuts+ GitHub Pages</a>
        </h1>
        <p class="lead blog-description">Example project for tutorial on GitHub Pages for Tuts+</p>
    </div> <!-- /.blog-header -->

    <div class="row">

        <section class="col-sm-8 blog-main">

            <article class="blog-post ">
                <h1 class="blog-post-title">{{ page.title }}</h1>

                <div class="blog-content">
                    {{ content }}
                </div><!-- /.blog-content -->

            </article><!-- /.blog-post -->

        </section><!-- /.blog-main -->

        {% include sidebar.html %}

    </div><!-- /.row -->
</div><!-- /.container -->

{% include footer.html %}

</body>